/* -- Content Wrapper */

.content-wrapper { display: table; height: 100%; width: 100%; position: absolute;
  .content-main { text-align: center; z-index: 1; pointer-events: none; display: table-cell; vertical-align: middle; position: relative;
    h1 { margin-bottom: 40px; }
    h2 { margin-top: 20px; margin-bottom: 40px; }
    form { pointer-events: auto; margin-top: 30px; margin-bottom: 20px; }
    .container { z-index: 1; position: relative; }
  }
}