/* -- Person */

.person {
  h4 { margin-bottom: 5px; }
  h5 { opacity: .7; margin-top: 5px; }
  .image { border-radius: 100%; height: 120px; width: 120px; position: relative; overflow: hidden; z-index: 1; display: inline-block; }
}