/* -- Skill */

.skill { position: relative; margin-bottom: 40px;
  h4 { font-size: 14px; text-transform: uppercase; }
  aside { opacity: .8; position: absolute; right: 0; top: 0; }
  .bar { position: relative;
    .bar-active, .bar-background { height: 2px; background-color: #000; position: absolute; top: 0; left: 0; }
    .bar-background { opacity: .2; width: 100%; }
  }
}